In [9]:
#import dependencies
import pandas as pd
import numpy as np
import glob
import os

In [10]:
#bring in file path
path = r'../Data'
#use glob to read through all files
all_files=glob.glob(path + "/*.csv")
#create empty list to fill with csv data
li =[]
#create for loop to reach through each file and append to li
for filename in all_files:
    snowDataDf=pd.read_csv(filename, index_col=None, header=0)
    li.append(snowDataDf)

snowframe = pd.concat(li, axis=0, ignore_index=True)
snowframe.head()

,Date,Station Name,Station Id,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Latitude,Longitude,County Name,Air Temperature Average (degF),Unnamed: 12
0,2010-01-01,Apishapa,303,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,33.0,NaN
1,2010-01-02,Apishapa,303,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,29.0,NaN
2,2010-01-03,Apishapa,303,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,20.0,NaN
3,2010-01-04,Apishapa,303,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,25.0,NaN
4,2010-01-05,Apishapa,303,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,32.0,NaN

In [11]:
cleanSnowDf=snowframe.drop(['Station Id','Unnamed: 12'],axis=1)
cleanSnowDf.head()

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Latitude,Longitude,County Name,Air Temperature Average (degF)
0,2010-01-01,Apishapa,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,33.0
1,2010-01-02,Apishapa,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,29.0
2,2010-01-03,Apishapa,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,20.0
3,2010-01-04,Apishapa,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,25.0
4,2010-01-05,Apishapa,3.4,0.0,12.0,0.0,10000,37.33062,-105.06749,Huerfano,32.0

In [12]:
len(cleanSnowDf.index)

469610

In [16]:
orderedSnowDf=cleanSnowDf[['Date','Station Name','Snow Water Equivalent (in) Start of Day Values','Change In Snow Water Equivalent (in)',
                                            'Snow Depth (in) Start of Day Values','Change In Snow Depth (in)','Elevation (ft)','Air Temperature Average (degF)',
                                            'Latitude','Longitude','County Name']]
orderedSnowDf.head(15)

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),Latitude,Longitude,County Name
0,2010-01-01,Apishapa,3.4,0.0,12.0,0.0,10000,33.0,37.33062,-105.06749,Huerfano
1,2010-01-02,Apishapa,3.4,0.0,12.0,0.0,10000,29.0,37.33062,-105.06749,Huerfano
2,2010-01-03,Apishapa,3.4,0.0,12.0,0.0,10000,20.0,37.33062,-105.06749,Huerfano
3,2010-01-04,Apishapa,3.4,0.0,12.0,0.0,10000,25.0,37.33062,-105.06749,Huerfano
4,2010-01-05,Apishapa,3.4,0.0,12.0,0.0,10000,32.0,37.33062,-105.06749,Huerfano
5,2010-01-06,Apishapa,3.4,0.0,11.0,-1.0,10000,26.0,37.33062,-105.06749,Huerfano
6,2010-01-07,Apishapa,3.3,-0.1,12.0,1.0,10000,8.0,37.33062,-105.06749,Huerfano
7,2010-01-08,Apishapa,3.3,0.0,12.0,0.0,10000,21.0,37.33062,-105.06749,Huerfano
8,2010-01-09,Apishapa,3.3,0.0,11.0,-1.0,10000,30.0,37.33062,-105.06749,Huerfano
9,2010-01-10,Apishapa,3.3,0.0,11.0,0.0,10000,31.0,37.33062,-105.06749,Huerfano
10,2010-01-11,Apishapa,3.3,0.0,11.0,0.0,10000,31.0,37.33062,-105.06749,Huerfano
11,2010-01-12,Apishapa,3.3,0.0,10.0,-1.0,10000,39.0,37.33062,-105.06749,Huerfano
12,2010-01-13,Apishapa,3.3,0.0,10.0,0.0,10000,36.0,37.33062,-105.06749,Huerfano
13,2010-01-14,Apishapa,3.2,-0.1,10.0,0.0,10000,27.0,37.33062,-105.06749,Huerfano
14,2010-01-15,Apishapa,3.2,0.0,10.0,0.0,10000,29.0,37.33062,-105.06749,Huerfano

In [18]:
orderedSnowDf.to_csv(r'../Data/SnowData.csv')